# dependencies
/node_modules
/package-lock.json

# testing
*/coverage

# production
*/build

# misc
*/.DS_Store
*/.env
*/.env copy
*/.env1
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local